:root {
  --main-color: #2e2f42;
  --hover: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
}

.logo-2 {
  color: #2e2f42;
  text-decoration: none;
  font-size: 18px;
}

.logo-3{
  color: white;
}

.nav {
  color: var(--main-color);
  text-decoration: none;
}

.nav:hover {
  color: var(--hover);
}

.active {
  text-decoration: underline;
  color: var(--hover);
}

button {
  width: 169px;
  height: 56px;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

.section-1 {
  text-align: center;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  color: #fff;
}

.section-2 {
  background-color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
}
